---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
interface Props {
  product: CollectionEntry<"products">;
}

const { product } = Astro.props;

const { title, category, cover, price_usd, slug } = product.data;
---

<article class="card">
  <a href={"/products/" + slug}>
    <Image
      class="card__image"
      src={cover}
      alt={title}
      layout="constrained"
      inferSize={true}
    />
  </a>

  <h2 class="card__title">{title}</h2>
  <p class="card__price">{price_usd}</p>
</article>

<style>
  .card {
    display: grid;
    gap: 1rem;
    border-radius: var(--radius-2);
    /* align-items: center;
    justify-content: center;
    max-width: 350px; */
    /* border: 1px solid; */
  }

  .card__image {
    border-radius: 20px;
    /* border: 1px solid; */

    /* width: 100%; */
    /* max-inline-size: 800px; */
    /* border: 1px solid; */
  }

  .card__title {
    font-size: var(--font-size-0);
  }
</style>
